// Best practice:
// For a good separation of concerns, don't rely on the DOM element names,
// but on dedicated CSS selectors to identify all elements
.cmp-helloworld {
    background: #ECECEC;
}
.cmp-helloworld__title {
    color: blue;
}
.cmp-helloworld__item {
    color: #202020;
}
.cmp-helloworld__item-label {
    margin-bottom: 2px;
}
.cmp-helloworld__item-output {
    margin-top: 0;
}
